<!DOCTYPE html>
<html lang="ko" xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>스프링부트 웹서비스</title>
  <th:block th:replace="fragments/meta :: metaFragment">meta 영역</th:block>
  <th:block th:replace="fragments/css :: cssFragment">css 영역</th:block>

  <!-- 페이지별 CSS -->
  <th:block layout:fragment="css"/>
</head>
<body>
<div id="wrap">
  <th:block layout:fragment="content">CONTENT영역</th:block>
</div>

<!-- 공통 js libs -->
<th:block th:replace="fragments/libs :: libsFragment">공통 js libs</th:block>
<!-- 공통 js script -->
<th:block th:replace="fragments/script :: scriptFragment">공통 js script</th:block>
</body>
</html>